In [15]:
import pandas as pd

# Importação dos dados originais
data = pd.read_csv('../../Data/Raw/Occupancy.csv')

# Deletando valores NaN
data = data.dropna()

# Deletando colunas que não serão usadas
data.drop(['HumidityRatio'], axis=1, inplace=True)

data.to_csv("../../Data/Processed/Ocuppancy_processed.csv")

data

,date,Temperature,Humidity,Light,CO2,Occupancy
0,2015-02-02 14:19:00,23.7000,26.2720,585.200000,749.200000,1
1,2015-02-02 14:19:59,23.7180,26.2900,578.400000,760.400000,1
2,2015-02-02 14:21:00,23.7300,26.2300,572.666667,769.666667,1
3,2015-02-02 14:22:00,23.7225,26.1250,493.750000,774.750000,1
4,2015-02-02 14:23:00,23.7540,26.2000,488.600000,779.000000,1
...,...,...,...,...,...,...
20555,2015-02-18 09:15:00,20.8150,27.7175,429.750000,1505.250000,1
20556,2015-02-18 09:16:00,20.8650,27.7450,423.500000,1514.500000,1
20557,2015-02-18 09:16:59,20.8900,27.7450,423.500000,1521.500000,1
20558,2015-02-18 09:17:59,20.8900,28.0225,418.750000,1632.000000,1
20559,2015-02-18 09:19:00,21.0000,28.1000,409.000000,1864.000000,1