In [14]:
import pandas as pd

# Importação dos dados originais
data = pd.read_csv('../../Data/Raw/occupancy.csv')

# Deletando valores ausentes
data = data.dropna()

# Nomeando e escrevendo um novo arquivo com os dados processados
data.columns = ["date", "temperature", "humidity", "light", "co2","humidity_ratio", "occupancy"]

# Exportando os dados processados para um novo arquivo
data.to_csv("../../Data/Processed/occupancy_processed.csv")

# Verificando os tipos dos dados
data.dtypes

date               object
temperature       float64
humidity          float64
light             float64
co2               float64
humidity_ratio    float64
occupancy           int64
dtype: object

In [15]:
# Visualizando os dados
data.head(20)

,date,temperature,humidity,light,co2,humidity_ratio,occupancy
0,2015-02-02 14:19:00,23.7000,26.2720,585.200000,749.200000,0.004764,1
1,2015-02-02 14:19:59,23.7180,26.2900,578.400000,760.400000,0.004773,1
2,2015-02-02 14:21:00,23.7300,26.2300,572.666667,769.666667,0.004765,1
3,2015-02-02 14:22:00,23.7225,26.1250,493.750000,774.750000,0.004744,1
4,2015-02-02 14:23:00,23.7540,26.2000,488.600000,779.000000,0.004767,1
5,2015-02-02 14:23:59,23.7600,26.2600,568.666667,790.000000,0.004779,1
6,2015-02-02 14:25:00,23.7300,26.2900,536.333333,798.000000,0.004776,1
7,2015-02-02 14:25:59,23.7540,26.2900,509.000000,797.000000,0.004783,1
8,2015-02-02 14:26:59,23.7540,26.3500,476.000000,803.200000,0.004794,1
9,2015-02-02 14:28:00,23.7360,26.3900,510.000000,809.000000,0.004796,1
10,2015-02-02 14:29:00,23.7450,26.4450,481.500000,815.250000,0.004809,1
11,2015-02-02 14:30:00,23.7000,26.5600,481.800000,824.000000,0.004817,1
12,2015-02-02 14:31:00,23.7000,26.6000,475.250000,832.000000,0.004824,1
13,2015-02-02 14:31:59,23.7000,26.7000,469.000000,845.333333,0.004842,1
14,2015-02-02 14:32:59,23.7000,26.7740,464.000000,852.400000,0.004856,1
15,2015-02-02 14:34:00,23.7000,26.8900,464.000000,861.000000,0.004877,1
16,2015-02-02 14:35:00,23.7000,26.9725,455.000000,880.000000,0.004892,1
17,2015-02-02 14:36:00,23.6000,26.8900,454.000000,891.000000,0.004848,1
18,2015-02-02 14:37:00,23.6400,26.9760,458.000000,897.600000,0.004875,1
19,2015-02-02 14:38:00,23.6500,27.0500,464.000000,900.500000,0.004891,1